/* CSS Variables */

:root {
  /* Colors */
  --primary-text-color: black;
  --primary-background-color: #FD9928; /* Yellow */
  
  /* Viewport Breaks */
  --max-width-desktop: 1200px;
}



/* Basic Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

img {
  width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}


/* Classes */


/* --- POSITIONING (IN ORDER) --- */

/* Navigation (POSITIONING NAV TILE AT THE TOP) */
.nav-tile {
  grid-column: 1 / span 2;
}

/* Hero (POSITIONING UNDER NAV) */
.hero-tile {
  grid-column: 1 / span 2;
}

.small-hero-tile {
  grid-column: 1 / span 2;
  margin-top: 3rem;
}

.epic-closeup-tile {
  grid-column: 1;
}

.epic-yellow-red-tile {
  grid-column: 2;
}

.bcard-tile {
  grid-column: 1 / span 2;
}

.text-gif-tile {
  grid-column: 1 / span 2;
}

/* Start 3 column grid */
.bcard-grid-tile {
  grid-column: 1 / span 2;
}

.col-3-empty-tile {
  grid-column: 3;
}

.col-1-empty-tile {
  grid-column: 1;
}

.menu-grid-tile {
  grid-column: 2 / span 2;
}

.cheese-bomb-third-tile {
  grid-column: 1;
}

.red-white-yellow-third-tile {
  grid-column: 2;
}

.babybel-wrapped-third-tile {
  grid-column: 3;
}

.menu-cta-tile {
  grid-column: 1 / span 3;
}

.candybar-third-tile {
  grid-column: 1;
}

.korean-third-tile {
  grid-column: 2;
}

.epic-overhead-third-tile {
  grid-column: 3;
}

.full-spread-tile {
  grid-column: 1 / span 3;
}

/* Start 2 column grid */

.footer-tile {
  grid-column: 1 / span 3;
}


/* --- STYLING --- */

/* Parent Grid Wrapper */
.grid-wrapper-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--max-width-desktop);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid-wrapper-3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--max-width-desktop);
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}


/* Default Tile Styling (NOT POSITIONING) */
.tile-primary {
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  background-color: var(--primary-background-color);
}

.tile-white {
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  background-color: #fff;
}

/* Images - Object Fit Cover */
.object-fit-cover {
  display: block;
  object-fit: cover;
}

/* Navigation styling */
.nav-container-flex {
  min-height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Footer styling */
.footer-container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

.footer-contact a {
  color: #fe303b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.footer-social {
  text-align: center;
  margin: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
  line-height: 26px;
}

.footer-devtag p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Button Overlay Styling */
.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: '';
  display: block;
  height: 50%;
}

.btn {
  
}

