/* CSS Variables */

:root {
  /* Colors */
  --primary-text-color: black;
  --primary-background-color: #FD9928; /* Yellow */
  
  /* Viewport Breaks */
  --max-width-desktop: 1200px;
}



/* Basic Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

img {
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 3px;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}


/* Classes */


/* --- POSITIONING (IN ORDER) --- */

/* Navigation (POSITIONING NAV TILE AT THE TOP) */
.nav-tile {
  grid-column: 1 / span 2;
}

/* Hero (POSITIONING UNDER NAV) */
.hero-tile {
  grid-column: 1 / span 2;
}

.small-hero-tile {
  grid-column: 1 / span 2;
  margin-top: 3rem;
}

.epic-closeup-tile {
  grid-column: 1;
}

.epic-yellow-red-tile {
  grid-column: 2;
}

.bcard-tile {
  grid-column: 1 / span 2;
}

.text-gif-tile {
  grid-column: 1 / span 2;
}


/*** CONTACT SECTION ***/




/* Start 3 column grid */

.cheese-bomb-third-tile {
  grid-column: 1;
}

.red-white-yellow-third-tile {
  grid-column: 2;
}

.babybel-wrapped-third-tile {
  grid-column: 3;
}

.menu-cta-tile {
  grid-column: 1 / span 3;
}

.candybar-third-tile {
  grid-column: 1;
}

.korean-third-tile {
  grid-column: 2;
}

.epic-overhead-third-tile {
  grid-column: 3;
}

.full-spread-tile {
  grid-column: 1 / span 3;
}

/* Start 2 column grid */

.footer-subscribe-tile {
  grid-column: 1 / span 3;
}

.footer-menu-items-tile {
  grid-column: 1 / span 3;
}

.footer-bottom-tile {
  grid-column: 1 / span 3;
}


/* --- STYLING --- */

/* Parent Grid Wrapper */
.grid-wrapper-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--max-width-desktop);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  max-width: var(--max-width-desktop);
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
  margin-bottom: 0;
  padding: 40px;
}

.section-header {
  font-size: 160px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
}

.contact-info {
  color: #fff;
  display: flex;
}

.contact-info .text-column {
  flex: 50%;
}

.contact-info .image-column {
  flex: 50%;
}

.grid-wrapper-3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--max-width-desktop);
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}


/* Default Tile Styling (NOT POSITIONING) */
.tile-primary {
  box-sizing: border-box;
  display: block;
  background-color: var(--primary-background-color);
}

.tile-white {
  box-sizing: border-box;
  display: block;
  background-color: #fff;
}

.tile-red {
  box-sizing: border-box;
  display: block;
  background-color: #FC011B;
}

.tile-outline {
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  background-color: #fff;
  border: 2px solid var(--primary-background-color);
}

/* Images - Object Fit Cover */
.object-fit-cover {
  display: block;
  object-fit: cover;
}

/* Navigation styling */
.nav-container-flex {
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

.nav-brand {
  box-sizing: border-box;
  margin-right: 100px;
  line-height: 0.9;
  text-align: left;
}

.logo {
  height: 100px;
  text-align: center;
  margin-right: 10px;
}

.nav-menu {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}

.nav-menu ul {
  list-style: none;
  font-weight: 600;
  font-size: 22px;
}

.nav-menu li {
  margin-bottom: 5px;
}

.nav-menu a:hover {
  color: var(--primary-background-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content { /* Hidden by default */
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
  font-size: 0.85em;
}

.dropdown-content a { /* Links inside the dropdown */
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { /* Change the color of dropdown links on hover */
  color: var(--primary-background-color);
}

.dropdown:hover .dropdown-content { /* Show the dropdown menu on hover */
  display: block;
}


/* Footer styling */

/* Footer subscribe */
.footer-subscribe-container {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  margin: 0 auto;
}

.footer-subscribe-container h3 {
  color: white;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 1.6rem;
}


/* Footer bottom */
.footer-container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

.footer-contact a {
  color: #fe303b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.footer-social {
  text-align: center;
  margin: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
  line-height: 26px;
}

.footer-devtag p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Button Overlay Styling */
.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: '';
  display: block;
  height: 5%;
}

a > button {
  cursor: pointer;
}

.btn-white {
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid var(--primary-background-color);
  text-transform: uppercase;
  color: var(--primary-background-color);
  font-weight: bold;
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: var(--primary-background-color);
  font-weight: bold;
}

.btn-white:hover {
  background-color: red;
  border-color: transparent;
}

.btn-secondary:hover {
  background-color: red;
  color: white;
  border-color: transparent;
}

.btn-responsive {
  padding: 6px 20px;
  font-size: 28px;
  line-height: 1.4;
  border-radius: 6px;
  margin: 20px;
}

.raise {
  transition: all .3s ease-in-out;
}

.raise:hover {
  transform: translateY(-0.1em);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.bcard-overlay {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  height: 100%;
  width: 100%; 
  opacity: 0; 
  transition: 1s ease; 
  background-color: #FF9A28;
}

.bcard-overlay:hover, {
  opacity: 1;
}


/* MEDIA QUERIES */ 
@media (max-width: 760px) {
  
  .img-overlay:before {
    content: '';
    display: block;
    height: 2%;
  }  
  
  .btn-responsive {
    padding: 4px 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 10px;
  }

  
  /* Navigation styling */
  .nav-container-flex {
    padding-left: 10px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav-menu > ul {
    font-size: 20px;
    font-weight: 600;
  }  
  
  .dropdown-content { /* Hidden by default */
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
    font-size: 0.85em;
    right: 0;
  }
  
  
}
